<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.pnpl.analysis.analyzer.pnpl">
      <client
            class="org.pnpl.analysis.dynamic.analysis.AnalysisPNPL"
            name="Reachability Graph">
      </client>
   </extension>
   <extension
         point="org.pnpl.analysis.analyzer.products">
      <client
            class="org.pnpl.analysis.dynamic.analysis.AnalysisProducts"
            name="Reachability Graph">
      </client>
      <client
            class="org.pnpl.analysis.dynamic.analysis.TimedAnalysisProducts"
            name="Timed Reachability Graph">
      </client>
   </extension>

</plugin>
